doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Your website description")
    meta(name="keywords", content="your, keywords, here")
    meta(name="author", content="Orabueze Stanley")

    title Your Website Title

    // Include your CSS file (adjust the path accordingly)
    link(rel="stylesheet", href="css/style.css")

  body
    // Your HTML content goes here
    
    block content
      h1 Hello, PUG
      p welcome to pug
    
    block container
      h2 section is not ready....
    
    // Include your JavaScript file (adjust the path accordingly)
    script(src="app.js")